html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.group {
}

.group:before,
.group:after {
   content: "";
   display: table;
} 
.group:after {
   clear: both;
}

/* Regular code begins here */

body	{
	background-image:url(images/background.png);
	background-repeat:repeat;
}

#abt_main_contain,
#top_section_contain,
#main_contain	{
	margin:0px auto 0px auto;
}

#top_section_contain	{
	width:1027px;
	height:172px;
	padding:0px 0px 20px 0px;
	box-shadow:	10px 0 10px rgba(210, 210, 210, 0.33), 
				-10px 0 10px rgba(210, 210, 210, 0.33);
}

	#logo_gov_contain	{
		width:1027px;
		height:123px;
	}
	
	#logo	{
		display:inline-block;
		float:left;
		width:103px;
		height:78px;
		margin:29px 0px 0px 30px;	
	}
	
	#logo_gov_contain h1	{
		font-family:'Renfrewn_400';
		font-size:52px;
		font-weight:bold;
		float:left;
		margin:26px 0px 0px 0px;
		padding:16px 0px 9px 15px;
		color:#71bf44;
	}
	
	#homestay_gold	{
		display:inline-block;
		text-align:right;
		width:285px;
		height:58px;
		float:right;
		color:#464646;
		margin:42px 30px 0px 0px;	
	}
	
	#homestay_gold h2	{
		font-family:'Lintel-Regular';
		font-size:30px;
	}
	
	#homestay_gold h3	{
		font-family:'Lintel-Regular';
		font-size:18px;	
	}
	
	#menu_book_contain	{
		width:1027px;
		height:52px;
		background:#ffffff;
		background-image:url(images/dots_menu.png);
		background-repeat:repeat-x;
	}
	
		#menu_nav	{
			display:inline-block;
			float:left;
			width:700px;
			height:20px;
			margin:15px 0px 0px 15px;				
		}
		
		#menu_nav ul li	{
			font-size:16px;
			float:left;
			border-right:#464646 solid 1px;	
		}
		
		#menu_nav ul li.last	{
			border-right:none;
		}
		
		#menu_nav ul li a	{
			color:#464646;
			padding:0px 15px 0px 15px;
			text-decoration:none;	
		}
		
		#menu_nav ul li a:hover	{
			color:#71bf44;	
		}
	
		#book_a_room	{
			background:#464646;
			float:right;
			margin:8px 0px 0px 0px;
		}
		
		#book_a_room a	{
			display:inline-block;
			width:166px;
			height:26px;
			padding:9px 0px 0px 10px;
			text-decoration:none;
			color:#ffffff;	
		}
		
		#book_a_room a span	{
			color:#71bf44;	
		}

#picture_wide_contain	{
	width:100%;
	position:relative;
	height:576px;
	margin:0px auto 0px auto;
	background:#87cff4;
	z-index:10;
}

#main_contain	{
	width:967px;
	height:917px;
	padding:36px 30px 30px 30px;
    box-shadow:	10px 0 10px rgba(210, 210, 210, 0.33), 
				-10px 0 10px rgba(210, 210, 210, 0.33);
}
		
	#left_contain	{
		float:left;
		width:682px;
		height:702px;
	}
	
	#welcome_to span	{
		display:block;
		width:434px;
	}
	
	#welcome_to p	{
		width:579px;		
		padding:0px 40px 20px 0px;
		margin:20px 0px 20px 0px;
		border-bottom:2px dotted #bababa;	
	}
	
	#welcome_to p,
	#luxury_serenity p	{
		color:#464646;
		font-size:15px;
		font-family:Arial, Helvetica, sans-serif;
		line-height:19px;
		letter-spacing:-0.2px;
	}
	
	#welcome_to img	{
		float:right;
	}
	
	#luxury_serenity	{
		background-image:url(images/flowers_bg.png);
		background-position:90% 0%;
		background-repeat:no-repeat;
	}
	
	#luxury_serenity h3 {
		display:inline-block;
		float:left;
		width:450px;
	}
	
	#luxury_serenity p	{
		float:left;
		width:310px;
		margin:20px 25px 0px 0px;
	}
	
	#luxury_serenity img	{
		float:left;
		margin:29px 0px 0px 0px;
	}	
	
	.antique_grey_header {
		letter-spacing:-1px;
		font-size:26px;		
		color:#464646;
	}
	
	.antique_green_header	{		
		letter-spacing:-1px;
		font-size:26px;
		color:#71bf44;
	}
		
	.discover_more	a {
		width:140px;
		height:18px;
		float:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:15px;
		font-weight:bold;		
		display:block;
		background-position:right;
		background-image:url(images/discover_more_arrow.png);
		background-repeat:no-repeat;
		text-decoration:none;
	}
	
	.discover_more a span	{
		float:left;
	}
	
	.discover_content_margin	{
		margin:10px 0px 0px 0px;	
	}
		
	.green_font	{
		color:#71bf44;
	}
	
	.grey_font	{
		color:#464646;
	}
		
	#right_contain	{
		float:left;
		width:285px;
		height:702px;
	}
	
	#antique_small_grey	{
		font-size:20px;
		color:#464646;
	}
	
	#antique_small_green {
		font-size:20px;
		color:#71bf44;
	}
	
		.right_addy	{
			display:block;
			margin:16px 0px 0px 0px;	
		}
	
		.right_addy_bold,
		.right_addy_base,
		.right_addy_no_base,
		.right_addy_reg	{
			font-size:15px;
			font-family:Arial, Helvetica, sans-serif;
			line-height:21px;
			letter-spacing:-0.2px;
			color:#464646;
		}
		
		.right_addy_bold {
			font-weight:bold;	
		}
		
		.right_addy_base	{
			padding:0px 0px 20px 0px;
			border-bottom:2px dotted #bababa;
		}
		
		.right_addy_no_base	{
			border-bottom:0px;
			padding:0px 0px 20px 0px;
		}
		
		#picture_right_addy	{
			display:block;
			width:285px;
			height:216px;
			padding:14px 0px 0px 0px;
		}
						
	#content2_section	{
		float:left;
		width:967px;
		height:139px; /* 175px - 8px - 28px = 167px */
		padding:28px 0px 0px 0px;
		border-top:8px solid #71bf44;		
		box-shadow:inset 0px 10px 20px 5px rgba(210, 210, 210, 0.33), inset 0px -20px 20px 5px rgba(210, 210, 210, 0.33);
	}
	
		#content2_section img	{
			float:left;
		}
		
		#content2_section h3	{		
			letter-spacing:0.8px;	
		}
		
		.bottom_sec_titles1	{
			width:243px;
			height:112px;
			float:left;
			padding:19px 0px 0px 0px;
		}
		
		.bottom_sec_titles1 a	{
			margin:11px 0px 0px 0px;	
		}
		
		.bottom_sec_titles2	{
			width:286px;
			height:112px;
			float:left;
			padding:10px 0px 0px 20px;
		}
		
		.bottom_sec_titles2 a	{
			margin:7px 0px 0px 0px;	
		}

	#footer_section {
		float:left;
		display:block;
		width:967px;
		height:42px;
		background:#ffffff;
		background-image:url(images/foot_menu_bg.png);
		background-repeat:repeat-x;
	}
	
		#foot_menu	{
			display:inline-block;
			float:left;
			width:500px;
			height:12px;
			margin:15px 0px 0px 15px;				
		}
		
		#foot_menu	ul li	{
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			height:12px;
			font-weight:bold;
			float:left;
			background-image:url(images/foot_menu_border.png);
			background-repeat:no-repeat;
		}
		
		#foot_menu ul li.first	{
			background-image:none;
		}
		
		#foot_menu ul li a	{
			color:#464646;
			margin:0px 15px 0px 15px;
			text-decoration:none;	
		}
		
		#foot_menu	ul li a:hover	{
			color:#71bf44;	
		}
	
		#copyright	{
			float:right;
			display:inline-block;
			font-family:Arial, Helvetica, sans-serif;
			font-size:10px;
			color:#464646;
			margin:16px 0px 0px 0px;
		}
		
		#copyright a	{
			text-decoration:none;
			color:#464646;
		}
		
		#copyright a:hover	{
			text-decoration:underline;
		}

/* Font Classes */
.antique	{
	font-family:'AntiqueOliveCompact';
}

.lintel_reg	{
	font-family:'Lintel-Regular';
}
	
/* About Us */

#abt_main_contain	{	
	width:967px;
	height:auto;
	padding:36px 30px 30px 30px;	
	box-shadow:10px 0 10px rgba(210, 210, 210, 0.33), -10px 0 10px rgba(210, 210, 210, 0.33);	
}

#abt_content1	{
	width:682px;
	height:193px;
}

	#abt_content1 p {
		width:594px;
		padding:0px 40px 20px 0px;
		margin:0px 0px 20px 0px;
		border-bottom:2px dotted #bababa;
	}
	
	#abt_content1 p,
	#abt_content2 p,
	#destinations_yearn p {
		color:#464646;
		font-size:15px;
		font-family:Arial, Helvetica, sans-serif;
		line-height:19px;
		letter-spacing:-0.2px;
	}

#abt_content2	{
	width:682px;
	height:506px;
	margin:20px 0px 0px 0px;
}
	
	#abt_content2 span {
		width:523px;
		display:inline-block;
		letter-spacing:0.7px;
		float:left;
	}
	
	#abt_content2 p img	{
		padding:0px 0px 0px 0px; /* for the image in the section I haven't done yet */
		float:right;
	}

	#abt_content2 p	{
		float:left;
		width:665px;
		padding:0px 16px 0px 0px;
		margin:15px 25px 0px 0px;
	}

#abt_content3	{
	float:left;
	width:967px;
	height:253px;
}	

	#destinations_yearn	{
		width:652px;
		float:left;	
	}
	
	#destinations_yearn	h3 {
		width:489px;
		display:inline-block;
		float:left;
		padding:20px 0px 0px 0px;
	}
	
	#destinations_yearn span	{
		letter-spacing:0.8px;
	}
	
	#destinations_yearn p	{
		float:left;
		width:642px;
		margin:15px 0px 0px 0px;
	}
	
	#abt_content3 img	{
		margin:2px 0px 0px 0px;
		float:right;	
	}