html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.group {
}

.group:before,
.group:after {
   content: "";
   display: table;
} 
.group:after {
   clear: both;
}

/* Regular code begins here */
#main_contain {
min-width:1024px;
width:100%;
margin:0px auto 0px auto;
}
   
	#logo_navigation {
	width:100%;
	height:58px;
	background:#ffffff;
	}
	
	#logo_section {
	position:relative;
	top:1px;
	display:block;
	float:left;
	width:182px;
	height:40px;
	margin:0px 0px 0px 112px;
	}
	
	#nav_menu {
	width:412px;
	float:right;
	padding:26px 0px 0px 0px;
	}
	
	#nav_menu li {
	display:inline-block;
	margin:0px 0px 0px 15px;
	}
	
	#nav_menu li a {
	font-family:"Helvetica", Trebuchet MS, Arial, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#00679d;
	float:left;
	text-decoration:none;
	text-transform:uppercase;
	}
	
	#nav_menu li a:hover {
	color:#479cde;
	}
	
	#slider_section {
	width:100%;
	box-shadow:inset 0px 1px 1px #000000;
	}	
	
	#content_section {
	width:589px;
	height:600px;
	background:#ffffff;
	padding:68px 107px 0px 107px;
	margin:0px auto 0px auto;
	}
	
		#content_section p {
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:17px;
		text-align:justify;
		line-height:24px;
		margin:0px 0px 30px 0px;
		}
		
		#blue_circles_section {
		width:589px;
		height:138px;
		margin:86px 0px 0px 0px;
		}
		
		#news,
		#updates,
		#events {
		list-style:none;
		text-align:center;
		display:block;
		float:left;
		font-family:Georgia, "Times New Roman", Times, serif;
		text-transform:uppercase;
		font-size:24px;
		border-radius:50%;
		}
		
		#news a,
		#updates a,
		#events a {
		display:block;
		width:145px;
		padding:58px 0px 54px 0px;
		height:24px;
		text-decoration:none;		
		color:#ffffff;
		}
		
		#news {
		background:#00659c;
		margin:0px 75px 0px 0px;
		}
		
		#updates {
		background:#078ad1;
		margin:0px 75px 0px 0px;
		}
		
		#events {
		background:#189fe8;
		}
		
		#news a:hover,
		#updates a:hover,
		#events a:hover {
		border-radius:80px;
		}
		
		#news a:hover {
		background:;
		}
		
		#updates a:hover {
		background:;
		}
		
		#events a:hover {
		background:;
		}
			
	#black_footer_section {
	width:1024px;
	height:254px;
	background:#000000;
	}
